:root {

  /* — Couleurs — (changez le hex ; pensez à mettre à jour le -rgb plus bas) */
  --my-primary:   #0f172a;
  --my-primary-contrast:#ffffff;
  --my-secondary: #f97316;
  --my-secondary-contrast: #ffffff;
  --my-success:   #16a34a;
  --my-info:      #0ea5e9;
  --my-warning:   #f59e0b;
  --my-danger:    #dc2626;
  --my-light:     #f8fafc;
  --my-dark:      #0f172a;

  --bs-primary:   #e6f602;
  --bs-primary-rgb: 230, 246, 2;
  --bs-dark:#0f172a;
  --bs-drark-rgb: 15, 23, 42;
  --bs-light:#f8fafc;
  --bs-light-rgb: 248, 250, 252;

  
  /* — Polices — (chargez d'abord les Google Fonts dans le <head>) */
  --bs-body-font-family: 'Bebas Neue', sans-serif;
  --bs-font-sans-serif:  'Bebas Neue', sans-serif;
  

  /* — Arrondis — */
  --my-radius:        0.6rem;   /* arrondi de base */
  --my-radius-btn:    0.6rem;   /* boutons */
  --my-radius-card:   1rem;     /* cards */
  --my-radius-alert:  0.6rem;   /* alertes */

}

.bebas-neue-regular{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Bebas Neue", sans-serif;
    background-image: url('image2heroBCRMF.webp');
    background-size: cover;
    background-color: #111111;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* l'image reste fixe pendant le scroll */
    overflow-x: hidden; /* évite les débordements horizontal */
    min-height: 100vh; /* l'image couvre toute la hauteur de l'écran */
}

.hero{
    position: relative;
    background: linear-gradient(
    180deg, 
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.45),
    rgba(0, 0, 0, 0.65) 85%,
    rgba(0, 0, 0, 0.75) 100%
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero h1,
.hero p {
    color: #ffffff;
    text-shadow: 0 3px 10px rgba(20, 9, 9, 0.8);
}

.nav-link:hover {
    border-color: #000;
    color: #ffc107;
    background-color: #000; 
}

.btn-rock,/*faire un don & prevente tickets*/  
.btn-outline-rock{
    background-color: #1a1a1a !important;
    border: 2px solid #ffc107 !important;
    color: #ffffff !important;
    padding: 10px 25px !important; 
    font-size: 16px !important;
    border-radius: 6px !important;
    text-transform: uppercase;
    letter-spacing: 2px !important;
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease !important;
    font-weight: 700 !important;
}

.btn-rock:hover,
.btn-outline-rock:hover{
    background-color: #ffc107 !important;
    color: #000000 !important;
    text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2) !important ;
    box-shadow: #ffc107 0 0 8px, #ffc107 0 0 20px !important;
    
}

.navbar.nav-link { /*navbar saut des boutons*/
    transition: color 0.3s ease;
}
.navbar .nav-link:hover {
    color: #ffc107; 
}
.navbar.btn-primary:hover{
    animation: sauter 0.8
}
@keyframes sauter {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

main.flex-grow-1 { 
  display: flow-root;
}

#programme-line-up{
    margin-top: -20px !important;
    margin-bottom: 0;
    padding-top: 0 ;
    padding-bottom:1rem !important;    /* Remplace la marge par de l'espace interne */
}   

#programme-line-up .rounded-4 {
    background-color: rgba(26, 26, 26, 0.9) !important; /* Fond bien opaque pour bloquer la lumière */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

/* On réduit aussi la marge du bloc de restauration juste en dessous pour tout resserrer */
#restauration {
    margin-top: 0.5rem !important;
    margin-bottom: 1rem !important;
}
